In [1]:

对上证指数进行如下操作：
1. 计算每日涨跌幅（用收盘价进行计算），并对其进行简单的描述行统计
2. 找出最大涨幅和跌幅对应的日期
3. 新建一列，统计指数表现:
    #涨跌幅 > 75% 分位数（六位小数），则为： 优秀
    #25% 分位数< zhangdiefu <=75% 分位数，则为：一般
    #涨跌幅《=25% 分位数，较差

In [1]:
import pandas as pd

In [18]:
index_df = pd.read_csv('/Users/wenjingli/Desktop/python_data_analysis/02_Pandas/02-1_PandasBasic/sh000001.csv', parse_dates=['candle_end_time'])
index_df.head()

  candle_end_time   open   high     low  close  amount  info
0      1990-12-19  113.1  113.1  113.10  113.1  2650.0   NaN
1      1990-12-20  113.1  113.5  112.85  113.5  1990.0   NaN
2      1990-12-21  113.5  113.5  113.40  113.5  1190.0   NaN
3      1990-12-24  113.5  114.0  113.30  114.0  8070.0   NaN
4      1990-12-25  114.0  114.2  114.00  114.1  2780.0   NaN

In [19]:
#change to label index
index_df.set_index('candle_end_time',inplace = True)
index_df

                    open     high      low    close       amount  info
candle_end_time
1990-12-19        113.10   113.10   113.10   113.10       2650.0   NaN
1990-12-20        113.10   113.50   112.85   113.50       1990.0   NaN
1990-12-21        113.50   113.50   113.40   113.50       1190.0   NaN
1990-12-24        113.50   114.00   113.30   114.00       8070.0   NaN
1990-12-25        114.00   114.20   114.00   114.10       2780.0   NaN
...                  ...      ...      ...      ...          ...   ...
2020-09-09       3281.00  3289.61  3238.56  3254.63  351509747.0   NaN
2020-09-10       3282.23  3285.47  3227.64  3234.82  312472804.0   NaN
2020-09-11       3225.78  3262.50  3220.54  3260.35  221698830.0   NaN
2020-09-14       3275.92  3283.53  3261.15  3278.81  213924137.0   NaN
2020-09-15       3277.13  3297.69  3263.75  3295.68  197684400.0   NaN

[7099 rows x 6 columns]

In [22]:
#sort the label index
sorted_index=index_df.sort_index()
sorted_index

                    open     high      low    close       amount  info
candle_end_time
1990-12-19        113.10   113.10   113.10   113.10       2650.0   NaN
1990-12-20        113.10   113.50   112.85   113.50       1990.0   NaN
1990-12-21        113.50   113.50   113.40   113.50       1190.0   NaN
1990-12-24        113.50   114.00   113.30   114.00       8070.0   NaN
1990-12-25        114.00   114.20   114.00   114.10       2780.0   NaN
...                  ...      ...      ...      ...          ...   ...
2020-09-09       3281.00  3289.61  3238.56  3254.63  351509747.0   NaN
2020-09-10       3282.23  3285.47  3227.64  3234.82  312472804.0   NaN
2020-09-11       3225.78  3262.50  3220.54  3260.35  221698830.0   NaN
2020-09-14       3275.92  3283.53  3261.15  3278.81  213924137.0   NaN
2020-09-15       3277.13  3297.69  3263.75  3295.68  197684400.0   NaN

[7099 rows x 6 columns]

In [25]:
# 1.1 add: columns= percentage_change = close/open -1; this way saves calculation
sorted_index['percentage_change'] = sorted_index['close']/sorted_index['open'] - 1
sorted_index

,open,high,low,close,amount,info,percentage_change
candle_end_time,,,,,,,
1990-12-19,113.10,113.10,113.10,113.10,2650.0,NaN,0.000000
1990-12-20,113.10,113.50,112.85,113.50,1990.0,NaN,0.003537
1990-12-21,113.50,113.50,113.40,113.50,1190.0,NaN,0.000000
1990-12-24,113.50,114.00,113.30,114.00,8070.0,NaN,0.004405
1990-12-25,114.00,114.20,114.00,114.10,2780.0,NaN,0.000877
...,...,...,...,...,...,...,...
2020-09-09,3281.00,3289.61,3238.56,3254.63,351509747.0,NaN,-0.008037
2020-09-10,3282.23,3285.47,3227.64,3234.82,312472804.0,NaN,-0.014444
2020-09-11,3225.78,3262.50,3220.54,3260.35,221698830.0,NaN,0.010717
2020-09-14,3275.92,3283.53,3261.15,3278.81,213924137.0,NaN,0.000882
2020-09-15,3277.13,3297.69,3263.75,3295.68,197684400.0,NaN,0.005660

In [26]:
#1.2 描述性统计
sorted_index['percentage_change'].describe()

count    7099.000000
mean        0.000561
std         0.017364
min        -0.131313
25%        -0.006465
50%         0.000578
75%         0.007436
max         0.194271
Name: percentage_change, dtype: float64

In [61]:
#2.1最大涨幅
maxincrease_date = sorted_index['percentage_change'].idxmax() #return: Timestamp('1994-08-10 00:00:00')
max_increase = sorted_index.loc[maxincrease_date,'percentage_change']
print(f'The max increase date is {maxincrease_date}, the increase is {max_increase}')

The max increase date is 1994-08-10 00:00:00, the increase is 0.19427132108373413

In [62]:
#2.2 最大跌幅
maxdecrease_date = sorted_index['percentage_change'].idxmin() #return: Timestamp('1994-08-09 00:00:00')
max_decrease = sorted_index.loc[maxdecrease_date,'percentage_change']
print(f'The max decrease date is {maxdecrease_date}, the decrease is {max_decrease}')

The max decrease date is 1994-08-09 00:00:00, the decrease is -0.1313134136456382

In [58]:
#3 categories，使用之前的describe 结果
# min        -0.131313
# 25%        -0.006465
# 50%         0.000578
# 75%         0.007436
# max         0.194271
group_names = ['优秀', '一般', '较差']
bins= [-0.131313, -0.006465, 0.007436,0.194271 ]
cats = pd.cut(sorted_index['percentage_change'], bins, labels= group_names)
sorted_index['groups'] = cats
sorted_index

,open,high,low,close,amount,info,percentage_change,groups
candle_end_time,,,,,,,,
1990-12-19,113.10,113.10,113.10,113.10,2650.0,NaN,0.000000,一般
1990-12-20,113.10,113.50,112.85,113.50,1990.0,NaN,0.003537,一般
1990-12-21,113.50,113.50,113.40,113.50,1190.0,NaN,0.000000,一般
1990-12-24,113.50,114.00,113.30,114.00,8070.0,NaN,0.004405,一般
1990-12-25,114.00,114.20,114.00,114.10,2780.0,NaN,0.000877,一般
...,...,...,...,...,...,...,...,...
2020-09-09,3281.00,3289.61,3238.56,3254.63,351509747.0,NaN,-0.008037,优秀
2020-09-10,3282.23,3285.47,3227.64,3234.82,312472804.0,NaN,-0.014444,优秀
2020-09-11,3225.78,3262.50,3220.54,3260.35,221698830.0,NaN,0.010717,较差
2020-09-14,3275.92,3283.53,3261.15,3278.81,213924137.0,NaN,0.000882,一般
2020-09-15,3277.13,3297.69,3263.75,3295.68,197684400.0,NaN,0.005660,一般